/*Main container*/
#BigCont {
  display: grid;
  position: relative;
  border: 5px solid tomato;
  width: 700px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  color: tomato;
  font-size: 24px;
  font-weight: bold;
}


@media all and (max-width: 1200px){
  #BigCont{
    margin-top: 45px;
    width: 80%;
    height: auto;
    padding: 2px;
  }
}
